body {
    margin: 0;
    padding: 0;
    background-color: rgba(228, 238, 255, 0.7);
    }


    h2 {
    text-align:center;
        font-family: Verdana;
        margin-top:5%;
        color: rgb(41, 100, 100);
    }
    #result {
        text-align: right;
        background-color: white;
        width: 20%; 
        font-size: 2em;  
        border: solid rgb(94, 94, 94)  0.1em;     
    }

    .top-btns button {
    width: 10%;
    text-align: center;
    font-size: 1.5em;
    border: solid rgb(94, 94, 94)  0.1em;
    }

    .btns-row button {
    width: 5%;
    text-align: center;
    font-size: 1.5em;
    border: solid rgb(94, 94, 94)  0.1em;
    }

    .btns-row :hover {
        background-color: rgb(98, 48, 180);
        color: rgba(228, 238, 255, 0.7);

    }
    .top-btns button:hover {
        background-color: rgb(31, 150, 77);
        color: rgba(228, 238, 255, 0.7);
    }

